@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
/* line 4, ../scss/style.scss */
* {
  box-sizing: border-box;
  font-family: "Manrope";
  color: #cee3e9;
  font-size: 16px;
}

/* line 11, ../scss/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/style.scss */
ul, ol, li {
  list-style: none;
}

/* line 20, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 24, ../scss/style.scss */
button {
  border: 0;
  background-color: transparent;
}

/* line 29, ../scss/style.scss */
img {
  max-width: 100%;
}

/* line 35, ../scss/style.scss */
.home {
  background-color: #1f2632;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 43, ../scss/style.scss */
.home .container {
  position: relative;
  background-color: #323a49;
  border-radius: 10px;
  padding: 30px 30px 40px;
  text-align: center;
  max-width: 325px;
}
/* line 51, ../scss/style.scss */
.home .container h2, .home .container span {
  margin: 0;
  color: #52ffa8;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 58, ../scss/style.scss */
.home .container strong {
  line-height: 1.5;
  margin: 20px 0;
  display: block;
}
/* line 64, ../scss/style.scss */
.home .container button.dice {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #52ffa8;
  font-size: 0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}
/* line 76, ../scss/style.scss */
.home .container button.dice:hover {
  filter: drop-shadow(0 0 10px #52ffa8);
}

@media (max-width: 768px) {
  /* line 84, ../scss/style.scss */
  .home {
    padding: 0 15px;
  }
}
